.example-container {
    display: flex;
    flex-direction: column;
  }
  .example-form {
    padding-left: 70%;
  }
  
  .example-container > * {
    width: 100%;
  }
  .sub_button {
      padding: 5px;

  }
  body {
    padding: 14px;
    text-align: center;
  }
  .search{
    padding: 20px;
  }
